.contact-main-title {
    padding-top: 3rem;
    color: var(--color-yellow);
}

.contact-hero {
    margin-top: 2rem;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.my-email {
    margin-top: 4rem;
    padding: 1rem;
    border: 1.5px solid var(--color-pink);
    box-shadow: 5px 10px var(--color-pink);
}