.bottom-section-title {
    font-size: 32px;
    font-weight: 400;
    color: var(--color-pink);
}

.bottom-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.bottom-section-list {
    /* list-style-type: circle; */
    list-style: square;
    margin-left: 1.2rem;
    display: grid;
    gap: 2rem;
    font-size: var(--font-size);
}

.dogPic {
    width: 600px;
    height: 450px;
}